<div class="container" style="padding-top:60px;">    
    <div class="row">    
        <div class="col-md-6 mx-auto">    
            <div class="card-group">    
                <div class="card p-4">    
                    <div class="card-body">    
                        <form name="form">    
                            <div style="padding-top: 20px;" class="input-group mb-3">       
                                    <label class="form-control sty1" >{{userName}}</label>  
                            </div>    
                            <div class="input-group mb-4">       
                                <label class="form-control" >{{emailId}}</label>  
                            </div>       
                        </form>    
                            <hr style="border-top: 1px solid #eee;">    
                            <div class="row">       
                                <div class="col-6 text-right">    
                                    <button (click)="socialSignIn('google')" class="loginBtn loginBtn--google">    
                                        Login with Google    
                                    </button>    
                                </div>    
                            </div>    
                    </div>    
                </div>    
            </div>    
        </div>    
    </div>    
</div>   